# Ignore Python virtual environment
venv/
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and cache files
.env
*.env
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode and other IDE configs
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
